body {
}

a {
}

a:link {
}

a:visited {
}

a:hover {
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

#container {
    width: 800px;
    /* border: solid black 1px; */
    margin-left: auto;
    margin-right: auto;
}

#screen {
    border: solid black 1px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

#vms {
    position: fixed;
    left: 70%;
    bottom: 10px;
}

#developer-tools {
    padding-top: 20px;
}

/* .keystack { */
/*     width: 200px; */
/* } */
