body {
}

a {
}

a:link {
}

a:visited {
}

a:hover {
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.top {
    vertical-align: top;
}

.diff {
    color: red;
}

.match {
    color: blue;
}

#container {
    width: 800px;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
}

#input-number {
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    position: fixed;
    left: 40%;
    bottom: 10%;
}

#screen {
    border: solid black 1px;
    width: 300px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    font-size: 1.5em;
}

td.result {
    padding-left: 20px;
}
table.history {
    margin-right: 100px;
}

#vms {
    position: fixed;
    left: 70%;
    bottom: 10px;
}

#developer-tools {
    padding-top: 20px;
    position: fixed;
    left: 70%;
    top: 0px;
}

/* .keystack { */
/*     width: 200px; */
/* } */
